config/private_secrets.dtsi
build
firmware
config/boards/shields/lily58
3d_design/temp
.DS_Store
3d_design/.DS_Store
node_modules/
pcb/dongle/production
~*.lck
pcb/dongle/#auto_saved_files#
doc/keymap_combos.svg
doc/*.svg
doc/keymap.yaml
doc/layouts
early.log
o3-mini
.aider*
