
if SHIELD_BLUECLAW_LEFT

    config ZMK_KEYBOARD_NAME
        default "blueclaw"

    config ZMK_SPLIT_ROLE_CENTRAL
        default y

endif


if SHIELD_BLUECLAW_LEFT_STUDIO

    config ZMK_KEYBOARD_NAME
        default "blueclaw_studio"

    config ZMK_SPLIT_ROLE_CENTRAL
        default y

endif






if SHIELD_BLUECLAW_LEFT || SHIELD_BLUECLAW_RIGHT || SHIELD_BLUECLAW_MASTER || SHIELD_BLUECLAW_SLAVELEFT || SHIELD_BLUECLAW_MASTER_STUDIO || SHIELD_BLUECLAW_LEFT_STUDIO

    config ZMK_SPLIT
        default y

endif


if SHIELD_BLUECLAW_SLAVELEFT || SHIELD_BLUECLAW_LEFT
endif

# TODO need to find a way to limit the duplicates, maybe i can define a _studio generic cmake switch and use this
if SHIELD_BLUECLAW_MASTER 
    config ZMK_KEYBOARD_NAME
        default "greyclaw_master"

    config ZMK_SPLIT_ROLE_CENTRAL
        default y

    config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
        default 2

    config ZMK_EXT_POWER
        default n

endif

if SHIELD_BLUECLAW_MASTER_STUDIO
    config ZMK_KEYBOARD_NAME
        default "greyclaw_studio"

    config ZMK_SPLIT_ROLE_CENTRAL
        default y

    config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
        default 2

    config ZMK_EXT_POWER
        default n

endif

