
if SHIELD_BLUECLAW_LEFT

config ZMK_KEYBOARD_NAME
    default "blueclaw"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_BLUECLAW_LEFT || SHIELD_BLUECLAW_RIGHT

config ZMK_SPLIT
    default y


endif
