# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_BLUECLAW_LEFT
    def_bool $(shields_list_contains,blueclaw_left)

config SHIELD_BLUECLAW_RIGHT
    def_bool $(shields_list_contains,blueclaw_right)

config SHIELD_BLUECLAW_MASTER
    def_bool $(shields_list_contains,blueclaw_master)

config SHIELD_BLUECLAW_MASTER_STUDIO
    def_bool $(shields_list_contains,blueclaw_master_studio)

config SHIELD_BLUECLAW_LEFT_STUDIO
    def_bool $(shields_list_contains,blueclaw_left_studio)

config SHIELD_BLUECLAW_SLAVELEFT
    def_bool $(shields_list_contains,blueclaw_slaveleft)
