/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include "secrets.dtsi"
#include <dt-bindings/zmk/keys.h>

&mt { tapping-term-ms = <200>; };

&gresc { keep-mods = <(MOD_LSFT|MOD_RSFT)>; };

/ {
    behaviors {
        hm: homerow_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "HM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        hml: homerow-left {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-key-positions = <50 51 52 53 54 55 43 44 30 18 6 31 19 7 8 9 10 11 35 22 23 49 48 34 47 57 56 45 46 32 33 21 20>;
            hold-trigger-on-release;
        };

        hmr: homerow-right {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54 55 56 57>;
            hold-trigger-on-release;
        };

        tldesc: tilde_esc {
            compatible = "zmk,behavior-mod-morph";
            label = "TLDESC";
            bindings = <&kp ESC>, <&kp TILDE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        lbr: lbr {
            compatible = "zmk,behavior-mod-morph";
            label = "LBR";
            bindings = <&kp LEFT_BRACKET>, <&kp LEFT_PARENTHESIS>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        rbr: rbr {
            compatible = "zmk,behavior-mod-morph";
            label = "RBR";
            bindings = <&kp RIGHT_BRACKET>, <&kp RIGHT_PARENTHESIS>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        CO_CFG {
            bindings = <&mo 6>;
            key-positions = <54 55>;
            timeout-ms = <100>;
            slow-release;
        };

        CO_ESC {
            bindings = <&kp ESCAPE>;
            key-positions = <31 32>;
        };
    };

    macros {
        m_pass1: m_pass1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LS(N) &kp LS(O) &kp LS(N) &kp LS(E)>;
            label = "M_PASS1";
            wait-ms = <10>;
            tap-ms = <15>;
        };

        m_pass2: m_pass2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LS(N) &kp LS(O) &kp LS(N) &kp LS(E)>;
            label = "M_PASS2";
        };

        m_zoom: m_zoom {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp FSLH &kp Z &kp O &kp O &kp M &kp SPACE &kp J &kp O &kp I &kp N &kp SPACE &kp M &kp E>;
            label = "M_ZOOM";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&bootloader  &kp B  &kp C   &kp D   &kp E   &kp F                     &kp G   &kp H   &kp I   &kp J   &kp K  &bootloader
&kp A        &kp B  &kp C   &kp D   &kp E   &kp F                     &kp G   &kp H   &kp I   &kp J   &kp K  &kp L
&kp A        &kp B  &kp C   &kp D   &kp E   &kp F                     &kp G   &kp H   &kp I   &kp J   &kp K  &kp L
&kp A        &kp B  &kp C   &kp D   &kp E   &kp F                     &kp G   &kp H   &kp I   &kp J   &kp K  &kp L
                    &kp N1  &kp N2                                                    &kp N3  &kp N4
                                    &kp N5  &kp N6  &kp N7    &kp N8  &kp N9  &kp N0
                                            &kp A   &kp B     &kp C   &kp D
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans                                                    &trans  &trans
                                &trans  &trans  &trans    &trans  &trans  &trans
                                        &trans  &trans    &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans                                                    &trans  &trans
                                &trans  &trans  &trans    &trans  &trans  &trans
                                        &trans  &trans    &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans                                                    &trans  &trans
                                &trans  &trans  &trans    &trans  &trans  &trans
                                        &trans  &trans    &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans                                                    &trans  &trans
                                &trans  &trans  &trans    &trans  &trans  &trans
                                        &trans  &trans    &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans                                                    &trans  &trans
                                &trans  &trans  &trans    &trans  &trans  &trans
                                        &trans  &trans    &trans  &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans                                                    &trans  &trans
                                &trans  &trans  &trans    &trans  &trans  &trans
                                        &trans  &trans    &trans  &trans
            >;
        };
    };
};

// THIS WILL Be a defined makro when compiled with secrets, or empty when no secrets are in play

INJECT_SECRETS()
